body{
    background-color: blueviolet;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: rgb(2, 42, 35);
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.passo {
  display: none;  
}
.passo.ativo {
    display: block;
}

main{
    text-align: center;
    max-width: 200%;
}

img{
    max-width: 200%;
}